/* setam ceva by default pt tot continutul paginii */ 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
/* toate partile din body vor avea by default urmatoarele particularitati */
body{
    background:white;
    margin: 0;
    font-family: Bookman;
    font-size:14px;
    color: #001620;
}
/* seteaza un max width si o incadrare de 100% pt partea de sus cu meniul si sigla */
.center{
    max-width: 1180px;
    margin: 0 auto;
    width: 100%;
}
/* marginile in care sta meniul si sigla, gen dunga aia de dedesupt */
.header-wrapper{
   padding: 30px 0;
    border-bottom: 2px solid #001620;
}
/* referitoare la logo TeaSK din stanga sus*/
.logo{
    height: 70px;
    width: 150px;   
}

/* setam cum vor fi afisate logoul, si butoanele din menu, alea de sus */
header{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    align-items: center;
}
/*setam unde si cum vor sta butoanele de search: articolele sunt impachetate spre sfarsitul liniei (flex-end) */
.header-right{
    flex-wrap: wrap;
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
}
/*aici avem clasa care cuprinde toate butoanele de menu, un fel de by default pt toate*/
.main-nav {
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

/*fiecare buton ii intre tagurile li, pt toate setez initial margin right, ca sa apara departarea aia de dupa buton, inainte de urmatorul*/
.main-nav li {
    margin-right: 20px;
}
/* pt ultimul buton din lista, nu voi mai pune acea margine drapta pt ca el nu mai are de cine sa stea departat */
.main-nav li:last-of-type{
    margin-right: 0;
}
/*aici setam detaliile pt ceea ce se afla in buton, gen culoarea textului, marimea fontului si stilul, alinierea etc */
.main-nav li a{
    display: block;
    color: #001620;
    text-transform: uppercase;
    padding : 13px;
    font-size: 13px;
    font-weight: bold; 
    border-radius: 5px;
    transition: background-color 0.25s ease, color 0.25s ease; /*cat de repede se schimba culoarea textului cand ne pozitionam pe el*/
}
/*setari pt atunci cand suntem pe pagina corespunzatoare butonului, gen deja am dat click*/
 .main-nav li.active a {
    background: #040f14;
    color: #FBEADD;
    border-radius: 5px;
}
/*setari pt atunci cand ne ducem cu mouse-ul peste buton*/
.main-nav li a:hover {
    background: rgba(29, 38, 43, 0.308);
    color: #08141a;
    border-radius: 5px;
}
/* butonul de serch e ultimul, pt el nu o sa mai avem hover backgroung si altele*/
 .main-nav li:last-of-type a:hover{
    background: none;
}
/* pt ultimul buton (search) nu vom mai avea nici setare pt atunci cand e activ*/
.main-nav li:last-of-type.active a{
    background: none;
}  
/* butonul de search, gen cerculetul initial*/
form{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 0.25s;
    width: 40px;
    height: 40px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 2px solid #040f14;
    padding: 5px;
}
/* ne referim aici la setari pt acel Serch din interiorul casutei de search, si mai apoi la texul pe care noi il vom introduce*/
input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 35px;
    line-height: 35px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 25px;
    padding: 0 25px;
}
/* detalii pt lupa aia mica din interiorul cerculetului */
.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 0.25s;
}
/* cand mergem pe butonul de search cu mouseul se extinde la 200px */
form:hover{
    width: 200px;
    cursor: pointer; /* gen cum arata mouse-ul cand esti pe linia searchului, e manuta aia de pointeaza */
}
form:hover input{
    display: block;
}
/* in momentul in care extindem cerculetul de search se schimba culoarea cercului si a lupei din interior, gen cand sunem cu mouseul pe el */
form:hover .fa{
    background: #040f14;
    color: white;
}
/* pozitia si cum va fi afisat meniul acela dropdown cand ne ducem cu mouse ul pe butoanele care il au gen recommendations*/
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* continutul meniului dropdown (care va fi ascuns by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(241, 241, 241, 0.767);
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.534);
    z-index: 1;
  }
  
  /* link-urile din meniul dropdown, cum arata, culoare etc */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
/* culoare pt link urile din dropdown menu, cand treci cu mouse pe ele*/
  .dropdown-content a:hover {background-color: rgb(36, 14, 14);}

/* modul in care apare meniul extins, block */
.dropdown:hover .dropdown-content {display: block;}

/* culoarea butonului initial care se schimba atunci cand suntem pe el si se afiseaza meniiul dropdown */
.dropdown:hover  { background: rgba(4, 15, 20, 0.637);
    color:rgb(5, 5, 5);
    border-radius: 5px;}
/* formatare text de sub bara de meniu*/
.sub-header{
    height: 50px;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 10px;

}

/* bara de scroll, ii luata de pe net, astea is detaliile ei care urmeaza */
::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #555555;
}

.container{
    border: solid black 1px;
    display: flex;
    position: relative; 
    width:100%;
    background-repeat: no-repeat;
    overflow: auto;
    height: auto;
    min-height: 100% !important;
    background-size: cover;
   
}
.contentLeft{
    border: solid white 2px;
    width: 20%;
    float:left;
    min-height: 530px;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
    background-image: url(space3.png);
    background-repeat: no-repeat;
    overflow: auto;
    height: auto;
    min-height: 100% !important;
    background-size: cover;

}
.contentLeft > h1 {
    text-align: center;
    margin-top: 10px;
}
.user{
    height: 120px;
    width: 120px;
    margin-left: 35%;
    margin-top:10px;

}
.contentLeft > p {
    text-align: center;
    margin-top: 10px;
}

.contentRight{
    
    width: 80% !important;
    min-height: 530px;
    background-image: url(space3.png);
    display: grid;
    background-repeat: no-repeat;
    overflow: auto;
    height: auto;
    min-height: 100% !important;
    background-size: cover;

}
.about{
    grid-row: 1;
    margin-top: 20px;
    margin-bottom: 20px;
    border: solid grey 1px;
    column-count: 4;
    align-items: center;
    column-gap: 10px;
    height: 100%;
    width: 80%;
    padding: 40px;
    background: rgba(219, 215, 215, 0.479)

}
.about > h1{
    background: rgba(212, 206, 206, 0.493);
    border-bottom: 1px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
    column-span: all;
}
.about > p{
    margin-right: 20px;
    font-size: 20px;
}
.expedu-wrapper{
    margin-left: 5%;
    margin-right: 5%;
    border: solid grey 1px;
    grid-row: 3;
    width: 80%;
}
.experience{
    float:left;
    margin-top: 20px;
    margin-left: 30px;
    border: solid grey 1px;
    height: 100%;
    width: auto;
    padding: 30px;
    background: rgba(219, 215, 215, 0.479)
}
.experience > h1{
    background: rgba(212, 206, 206, 0.493);
    border-bottom: 1px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
    column-span: all;
}

.experience .position {
    text-align: center;
    font-weight: bold;
    font-size:20px;
}

.experience .period {
    text-align: center;
    font-size:15px;
    margin-bottom: 10px;
}
.education{
    float:right;
    margin-top: 20px;
    margin-right: 30px;
    border: solid grey 1px;
    height: 100%;
    width: auto;
    padding: 30px;
    background: rgba(219, 215, 215, 0.479)
}

.education > h1{
    background: rgba(212, 206, 206, 0.493);
    border-bottom: 1px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
    column-span: all;
}

.education .college {
    text-align: center;
    font-weight: bold;
    font-size:20px;
}

.skills-wrapper{
    width: 65%;
    padding-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    background: rgba(219, 215, 215, 0.479);
    grid-row: 2;
}

.skills-wrapper h1 {
    text-align: center;
    text-transform: uppercase;
    margin-top: auto;  
}
.skills-wrapper h2{
    text-align: left;   
}
.line{
    height: 25px;
    min-width: 50%;
    margin: 0 auto 10px;
    line-height: 25px;
    font-size: 14px;
    color:#F5F5F5;
    padding: 0 0 0 10px;
    position: relative;
}
.line:before{
    content: '';
    width: 100%;
    position: absolute;
    left:0;
    height: 25px;
    top:0;
    z-index: 0;
    background: #d2d2d2;
}
.line:after{
    content: '';
    background: #333;
    height: 25px;
    transition: 0.8s;
    display:block;
    width: 100%;
    animation: animate 4s;
    position: absolute;
    top:0;
    left:0;
    z-index: 0;
}
.line1:after{
    max-width: 50%;
    content: '50%'
}
.line2:after{
    max-width: 85%;
    content: '85%';
}
.line3:after{
    max-width: 70%;
    content: '70%'
}
.line4:after{
    max-width: 20%;
    content: '20%'
}
@keyframes animate{
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}

.footer{
    background-image: url("grafic2.png");
    color: #000;
    padding:10px;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .footer, .container, .header-right, .header-wrapper, .sub-header, header, body, .fa, form  {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }

