<div class="header-wrapper">
    <div class="center">
        <header>
            <!-- <div class="header-left">
                <ul class="main-nav">
            </div> -->
            <div class="header-right">
                <img src="./resources/logo/logo.png" class="logo">

                <ul class="main-nav">
                    <li class="active"><a href="firstPageNoLog.html"><span>Home</span></a></li>

                    <div class="dropdown">
                        <li><a href="#"><span>authenticate</span></a>
                            <div class="dropdown-content">
                                <a href="./pageSignIn.html">Sign in</a>
                                <a href="./pageSignUp.html">Sign up</a>
                            </div>
                        </li>
                    </div>
                    <div class="dropdown">
                        <li><a href="./pageOportunity.html"><span>Opportunities</span></a>
                            <div class="dropdown-content">
                                <a href="#">Internships</a>
                                <a href="#">Trainings</a>
                                <a href="#">Conferences</a>
                            </div>
                        </li>
                    </div>
                    <li><a href="./pageJobs.html"><span>Jobs</span></a></li>
                    <li><a href="#"><span>
                                <link rel="stylesheet"
                                    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                                <form class="searchform" action="">
                                    <input type="text" placeholder="Search.." name="Search">
                                    <button type="submit"><i class="fa fa-search"></i></button>
                                </form>

                            </span></a></li>
                </ul>
            </div>
        </header>
    </div>
</div>
