<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% if title %}
		<title>{{ title }}</title>
	{% else %}
		<title>TeaSK</title>
	{% endif %}
</head>
<body>
	{% include "./_header.njk" %}

	{% block content %}
	{% endblock %}

	{# todo: add _footer.css and remove every footer from all templates #}
	{# {% include "./_footer.njk" %} #}
</body>
</html>