{% set title = "Home" %}
{# {% set userConn = false %} #}

{% extends "./_layout.njk" %}

{% block content %}
<link rel="stylesheet" href="/styles/firstPageNoLog.css">

<div class="sub-header">Develop your career with us</div>
<div class="container">
    <div class="content">
        <h1>Welcome to TeaSK</h1>
        <div class="scrollbar">
            <div class="force-overflow"></div>
        </div>
        <p> AMBITION IS THE FIRST STEP TOWARDS </p>
        <p class="success">SUCCESS</p>
        <p class="intro"> Sign up for free and let us show you the best opportunities found for you,
            based on your tehnical profile and your interests.</p>
    </div>
<div class="content2">
        <h1>find out the best opportunities for your career</h1>
        <div class="grid-container">
            
            {% set i = 1 %}
	        {% for el in data.eventsInfo %}
    	<div class="grid grid-item{{ i }}">
			{# <img src="/image/__{{ el.title }}" name="firma"> #}
			<img src="{{ el.logo }}" name="firma">
			<h1 class="eventtitle">{{ el.title }}, {{ el.date }}, {{ el.city }}, {{ el.country }}</h1>
			<p class="eventdescription">{{ el.description }}</p>
			<form action="{{ el.website }}">
				<button type="submit" class="view">View details</button>
			</form>
	    </div>
	{% set i = i + 1 %}
	{% endfor %}
        </div>
    </div>
        <div class="content3">
        <h1>Here are the best jobs for you</h1>
        <div class="grid-container">
            {% set i = 1 %}
	        {% for el in data.jobsInfo %}
		    <div class="grid grid-item{{ i }}">
			    <img src="{{ el.logo }}" name="firma">
			    <h1 class="jobtitle">{{ el.title }}, {{ el.date }}, {{ el.city }}</h1>
			    <p class="jobdescription">{{ el.description }}</p>
			    <form action="{{ el.website }}">
				    <button type="submit" class="view">View details</button>
			    </form>
		    </div>
	        {% set i = i + 1 %}
	        {% endfor %}
        </div>
        </div>

   
<div>
    <footer class="footer">Copyright &copy; 2019 || Designed by Team</footer>
</div>
{% endblock content %}
