<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profile</title>
    <link rel="stylesheet" href="./styles/_header.css">
    <link rel="stylesheet" href="./styles/pageProfile.css">
</head>

<body>
    
    <div class="header-wrapper">
        <div class="center">
            <header>
                <!-- <div class="header-left">       
                </div> -->
                <div class="header-right">
                        <img src="./resources/logo/logo.png" class="logo">
                    <ul class="main-nav">
                        <li class="active"><a href="./firstPageLoggedIn.html"><span>Home</span></a></li>

                        <div class="dropdown">
                            <li><a href="./pageProfile.html"><span>Personal Profile</span></a>
                                <div class="dropdown-content">
                                    <a href="#">CV</a>
                                    <a href="#">Applications</a>
                                    <a href="#">Favorites</a>
                                    <a href="./firstPageNoLog.html">Log out</a>
                                </div>
                            </li>
                        </div>
                        <div class="dropdown">
                            <li><a href="./pageOportunity.html"><span>Opportunities</span></a>
                                <div class="dropdown-content">
                                    <a href="#">Internships</a>
                                    <a href="#">Trainings</a>
                                    <a href="#">Conferences</a>
                                </div>
                            </li>
                        </div>
                        <li><a href="./pageJobs.html"><span>Jobs</span></a></li>
                        <li><a href="#"><span>
                                    <link rel="stylesheet"
                                        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                                    <form class="searchform" action="">
                                        <input type="text" placeholder="Search.." name="Search">
                                        <button type="submit"><i class="fa fa-search"></i></button>
                                    </form>

                                </span></a></li>
                    </ul>
                </div>
            </header>
        </div>
    </div>
    <div class="sub-header">Develop your career with us</div>
     <div class="scrollbar">
                <div class="force-overflow"></div>
    </div>

    <div class="container">
        <div class="bio">
            <h1>Bogdan Istoc</h1>
            <img src="./resources/user/user.png"class="user">
            <p> Student @ Faculty of Computer Science Iasi </p>
            <p>Personal description</p>
        </div>
     
         
             <div class= "details">
                 <h1>About</h1>
                 <p class="name">First name: <span id="name">Bogdan</span></p>
                 <p class="name">Last name: <span id="name">L</span></p>
                 <p class="info">Country: <span id="name">Romania</span></p>
                 <p class="info">City: <span id="name">Iasi</span></p>
                 <p class="info">Phone number: <span id="name">855-406-5572</span></p>
                 <p class="info">Email: <span id="name">noreplay@toldyoutonotreply.com</span></p>
                 <p class="info">Profession: <span id="name">none</span></p>
                 <p class="info">Occupation: <span id="name">Student</span></p>
                 <p class="info">Company/School: <span id="name">FII</span></p>
                 <p class="info">Areas of interest: <span id="name">Z, Z++, Z#, Zava, Zavascript</span></p>
             </div>

<div class="chart">
    <h1>Skills</h1>
    <br><br>

    <h2>HTML / CSS</h2>
    <div class="line line1">50%</div>
    <h2>C/C++</h2>
    <div class="line line2">85%</div>
    <h2>Java</h2>
    <div class="line line3">70%</div>
    <h2>PHP</h2>
    <div class="line line4">20%</div>

</div>


    <div class= "exp">
       <h1>Experience</h1>
       <p class="position">Web Designer at Web Design Company Ltd.</p>
       <p class="period">March 2016 ~ February 2017</p>
       <p class="position">Intern at Some Company.</p>
       <p class="period">June 2017 ~ October 2017</p>
   </div>
   <div class= "edu">
       <h1>Education</h1>
       <p class="college">Student at Faculty of Computer Science Iasi</p>
   </div>


    </div>

   <!--<div>
        <footer class="footer">Copyright &copy; 2019 || Designed by Team</footer>
    </div>---> 
</body>

</html>