<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TeaSK</title>
    <link rel="stylesheet" href="./styles/_header.css">
    <link rel="stylesheet" href="./styles/pageOportunity.css">
</head>

<body>

    <div class="header-wrapper">
        <div class="center">
            <header>
                <!-- <div class="header-left">
			</div> -->
                <div class="header-right">
                    <img src="./resources/logo/logo.png" class="logo">
                    <ul class="main-nav">
                        <li class="active"><a href="./firstPageLoggedin.html"><span>Home</span></a></li>

                        <div class="dropdown">
                            <li><a href="./pageProfile.html"><span>Personal Profile</span></a>
                                <div class="dropdown-content">
                                    <a href="#">CV</a>
                                    <a href="#">Applications</a>
                                    <a href="#">Favorites</a>
                                    <a href="./firstPageNoLog.html">Log out</a>
                                </div>
                            </li>
                        </div>
                        <div class="dropdown">
                            <li><a href="./pageOportunity.html"><span>opportunities</span></a>
                                <div class="dropdown-content">
                                    <a href="#">Internships</a>
                                    <a href="#">Trainings</a>
                                    <a href="#">Conferences</a>
                                </div>
                            </li>
                        </div>

                        <li><a href="#"><span>jobs</span></a></li>
                        <li><a href="#"><span>
                                    <link rel="stylesheet"
                                        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                                    <form class="searchform" action="">
                                        <input type="text" placeholder="Search.." name="Search">
                                        <button type="submit"><i class="fa fa-search"></i></button>
                                    </form>

                                </span></a></li>
                    </ul>
                </div>
            </header>
        </div>
    </div>
    <div class="scrollbar">
        <div class="force-overflow"></div>
    </div>

    <div class="sub-header">Develop your career with us</div>

    <div class="container1">
        <div class="searchArea">
            <h1>Tell us what you want</h1>

            <label name="titlu">Event type:</label>
            <input type="checkbox" id="conference-type" value="conference-value" name="event_type"><label class="eventdetail"
                for="part-time">Conference</label>
            <input type="checkbox" id="internship-type" value="internship-value" name="event_type"><label class="eventdetail"
                for="full-time">Internship</label>
            <input type="checkbox" id="training-type" value="training-value" name="training_type"><label class="eventdetail"
                for="student-time">Training</label><br>

            <label name="titlu">Your experience:</label>
            <input type="checkbox" id="no-exp" value="level" name="event_level"><label class="eventdetail ">No
                experience</label>
            <input type="checkbox" id="entry" value="level" name="event_level"><label
                class="eventdetail ">Entry-level</label>
            <input type="checkbox" id="mid" value="level" name="event_level"><label class="eventdetail ">Mid-level</label>
            <input type="checkbox" id="senior" value="level" name="event_level"><label
                class="eventdetail ">Senior-level</label><br>

            <label name="titlu">Event place:</label>
            <input type="checkbox" id="city" value="place" name="event_place"><label class="eventdetail ">My city
                area</label>
            <input type="checkbox" id="country" value="place" name="event_place"><label class="eventdetail ">My country
                area</label>
            <input type="checkbox" id="outside" value="place" name="event_place"><label class="eventdetail ">Outside the
                country</label><br>

            <label name="titlu">Other tags:</label>

            <input type="checkbox" id="tags" value="tags" name="event_tags"><label class="eventtag">JavaScript</label>
            <input type="checkbox" id="tags" value="tags" name="event_tags"><label class="eventtag">Python</label>
            <input type="checkbox" id="tags" value="tags" name="event_tags"><label class="eventtag">Java</label>
            <input type="checkbox" id="tags" value="tags" name="event_tags"><label class="eventtag">C/C++</label>
            <input type="checkbox" id="tags" value="tags" name="event_tags"><label class="eventtag">PHP</label>
            <input type="checkbox" id="tags" value="tags" name="event_tags"><label class="eventtag">Swift</label>
            <input type="checkbox" id="tags" value="tags" name="event_tags"><label class="eventtag">Ruby</label>
            <input type="checkbox" id="tags" value="tags" name="event_tags"><label class="eventtag">Objective-C</label>
            <input type="checkbox" id="tags" value="tags" name="event_tags"><label class="eventtag">SQL</label>
            <input type="checkbox" id="tags" value="tags" name="event_tags"><label class="eventtag">C# (C- Sharp)</label>
            <input type="checkbox" id="tags" value="tags" name="event_tags"><label class="eventtag">Programmer</label>
            <input type="checkbox" id="tags" value="tags" name="event_tags"><label class="eventtag">Web Developer</label>
            <input type="checkbox" id="tags" value="tags" name="event_tags"><label class="eventtag">Computer Systems
                Analyst</label>
            <input type="checkbox" id="tags" value="tags" name="event_tags"><label class="eventtag">IT Security</label>
            <input type="checkbox" id="tags" value="tags" name="event_tags"><label class="eventtag">Network
                Engineer</label><br>


            <form class="eventform" action="#">
                <input type="text" placeholder="other key words..." name="searchevent">
                <button type="submit" class="submit">Find events</button>
            </form>
        </div>
    </div>

    <div class="container2">
        <h1>We consider that the following events might fit you.</h1>
    </div>
    <div class="grid-container">
        <div class="grid grid-item1">
            <img src="./resources/logoFirma/codecamp.png" name="firma">
            <h1 class="eventtitle">Codecamp 6 Aprilie, Iasi, Romania</h1>
            <p class="eventdescription">Codecamp is the first nation-wide IT Conference in Romania, and most likely, the biggest one. 
                In the 12 years since starting, Codecamp created an amazing community around them, bringing together companies, startups and IT professionals.
            </p>
                <button type="submit" class="view">View details</button>
            
        </div>
        <div class="grid grid-item2">
                <img src="./resources/logoFirma/fiipractic.jpg" name="firma">
                <h1 class="eventtitle">FII Practic</h1>
                <p class="eventdescription">Cele 4 săptămâni de traininguri de la Iaşi se vor desfășura în weekend-urile din perioada 9 martie 2019 – 31 martie 2019 în incinta Facultăţii de Informatică (Corpul C al Universitaţii „Alexandru Ioan Cuza”)</p>
                    <button type="submit" class="view">View details</button>
                
        </div>
        <div class="grid grid-item3"><img src="./resources/logoFirma/centric.png" name="firma">
            <h1 class="eventtitle">UI/UX & Frontend @Centric March 23, Iasi, Romania</h1>
            <p class="eventdescription"> This training is made for students that are interested in design and don’t have any prior knowledge. 
                It is the best place to get a guided introduction into the world of digital design, find out what the basic principles of design are, and how you can apply them. 
                You’ll also get to see how we apply design in Centric and what does it mean to be a designer in a big company.
            </p>
                <button type="submit" class="view">View details</button>
            
        </div>

        <div class="grid grid-item4"><img src="./resources/logoFirma/mi.png" name="firma">
            <h1 class="eventtitle">Microsoft Ignite, November 4-8, Orlando, Florida </h1>
            <p class="eventdescription">Microsoft Ignite is Microsoft’s annual meeting designed for enterprise professionals, services, and products. 
                Microsoft Ignite offers over 700 different sessions that cover topics like deployment, development, architecture, implementation & migration, security, access management & compliance, usage & adoption, and operations & management. 
                The conference provides advanced technical training for attendees, as well as plenty of opportunities for networking and sharing the latest ideas. 
                It also offers demos on more than 150 products. The keynote speaker of Microsoft Ignite 2018 was Satya Nadella, the CEO of Microsoft. 
                He was joined by SAP CEO Bill McDermott and Adobe Systems CEO Shantanu Narayen for this powerful keynote delivered to a standing-room-only crowd. 
                There are more than 700 hours of past sessions that you can explore, including keynote presentations, overviews, and deep dives. </p>
                <button type="submit" class="view">View details</button>
            
        </div>

        <div class="grid grid-item5"><img src="./resources/logoFirma/ITarena.png" name="firma">
            <h1 class="eventtitle">IT Arena, September 27-29, Lviv, Ukraine </h1>
            <p class="eventdescription">IT Arena is the largest tech event in Ukraine and Eastern Europe. 
                The three-day conference, conducted exclusively in English, brings together more than 2,000 entrepreneurs, investors, developers, business analysts, and designers every year. 
                Some of the previous speakers of IT Arena included representatives of Twitter, Uber, Facebook, Philips, Samsung, IBM, Google, and Microsoft and the 2018 conference consisted of four streams: Business, Product, Technology, and Startup. 
                This conference is known for its everyday after parties, which are excellent networking opportunities. 
                On the last day of the conference, the FutureLand Festival takes place, which attracts more than 3,000 visitors. </p>
                <button type="submit" class="view">View details</button>
            
        </div>
        
        <div class="grid grid-item6"><img src="./resources/logoFirma/ws.jpg" name="firma">
            <h1 class="eventtitle">World Summit AI, October 9-10, Amsterdam, Netherlands</h1>
            <p class="eventdescription">The World Summit Artificial Intelligence (AI) is a unique platform for all AI innovations and projects.
                 World Summit AI is the result of a collaboration between the global City.Ai Network and 100+ international AI events, and it provides unique networking and discussion opportunities for the 2,000 attendees. 
                 This two-day conference brings together the three main pieces of the AI system: Enterprise, Startups & Investors, and Deep Tech. 
            </p>
                <button type="submit" class="view">View details</button>
            
        </div> 
    </div>
    


    <div>
        <footer class="footer">Copyright &copy; 2019 || Designed by Team</footer>
    </div>

</html>