{% set title = "Opportunities" %}
{% set username = data.username %}

{% extends "./_layout.njk" %}

{% block content %}
<link rel="stylesheet" href="/styles/pageOportunity.css">

<div class="scrollbar">
    <div class="force-overflow"></div>
</div>

<div class="sub-header">Develop your career with us</div>

<div class="container1">
    <div class="searchArea">
        <h1>Tell us what you want</h1>

        <label name="titlu">Event type:</label>
        <input type="checkbox" id="conference-type" value="conference-value" name="event_type"><label class="eventdetail"
            for="part-time">Conference</label>
        <input type="checkbox" id="internship-type" value="internship-value" name="event_type"><label class="eventdetail"
            for="full-time">Internship</label>
        <input type="checkbox" id="training-type" value="training-value" name="training_type"><label class="eventdetail"
            for="student-time">Training</label><br>

        <label name="titlu">Your experience:</label>
        <input type="checkbox" id="no-exp" value="level" name="event_level"><label class="eventdetail ">No
            experience</label>
        <input type="checkbox" id="entry" value="level" name="event_level"><label
            class="eventdetail ">Entry-level</label>
        <input type="checkbox" id="mid" value="level" name="event_level"><label class="eventdetail ">Mid-level</label>
        <input type="checkbox" id="senior" value="level" name="event_level"><label
            class="eventdetail ">Senior-level</label><br>

        <label name="titlu">Event place:</label>
        <input type="checkbox" id="city" value="place" name="event_place"><label class="eventdetail ">My city
            area</label>
        <input type="checkbox" id="country" value="place" name="event_place"><label class="eventdetail ">My country
            area</label>
        <input type="checkbox" id="outside" value="place" name="event_place"><label class="eventdetail ">Outside the
            country</label><br>

        <label name="titlu">Other tags:</label>

        <input type="checkbox" id="tags" value="tags" name="event_tags"><label class="eventtag">JavaScript</label>
        <input type="checkbox" id="tags" value="tags" name="event_tags"><label class="eventtag">Python</label>
        <input type="checkbox" id="tags" value="tags" name="event_tags"><label class="eventtag">Java</label>
        <input type="checkbox" id="tags" value="tags" name="event_tags"><label class="eventtag">C/C++</label>
        <input type="checkbox" id="tags" value="tags" name="event_tags"><label class="eventtag">PHP</label>
        <input type="checkbox" id="tags" value="tags" name="event_tags"><label class="eventtag">Swift</label>
        <input type="checkbox" id="tags" value="tags" name="event_tags"><label class="eventtag">Ruby</label>
        <input type="checkbox" id="tags" value="tags" name="event_tags"><label class="eventtag">Objective-C</label>
        <input type="checkbox" id="tags" value="tags" name="event_tags"><label class="eventtag">SQL</label>
        <input type="checkbox" id="tags" value="tags" name="event_tags"><label class="eventtag">C#</label>
        <input type="checkbox" id="tags" value="tags" name="event_tags"><label class="eventtag">Programmer</label>
        <input type="checkbox" id="tags" value="tags" name="event_tags"><label class="eventtag">Web Developer</label>
        <input type="checkbox" id="tags" value="tags" name="event_tags"><label class="eventtag">Computer Systems Analyst</label>
        <input type="checkbox" id="tags" value="tags" name="event_tags"><label class="eventtag">IT Security</label>
        <input type="checkbox" id="tags" value="tags" name="event_tags"><label class="eventtag">Tech convention</label><br>

        <form class="eventform" action="#">
            <input type="text" placeholder="other key words..." name="searchevent">
            <button type="submit" class="submit">Find events</button>
        </form>
    </div>
</div>


<div class="container2">
    <h1>We consider that the following events might fit you.</h1>
</div>

<div class="grid-container">
	{% set i = 1 %}
	{% for el in data.eventsInfo %}
    	<div class="grid grid-item{{ i }}">
			{# <img src="/image/__{{ el.title }}" name="firma"> #}
			<img src="{{ el.logo }}" name="firma">
			<h1 class="eventtitle">{{ el.title }}, {{ el.date }}, {{ el.city }}, {{ el.country }}</h1>
			<p class="eventdescription">{{ el.description }}</p>
			<form action="{{ el.website }}">
				<button type="submit" class="view">View details</button>
			</form>
	    </div>
	{% set i = i + 1 %}
	{% endfor %}
</div>

<div>
    <footer class="footer">Copyright &copy; 2019 || Designed by Team</footer>
</div>
{% endblock content %}