<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TeaSK</title>
    <link rel="stylesheet" href="./styles/_header.css">
    <link rel="stylesheet" href="./styles/pageJobs.css">
</head>

<body>

    <div class="header-wrapper">
        <div class="center">
            <header>
                <!-- <div class="header-left">
			</div> -->
                <div class="header-right">
                                    <img src="./resources/logo/logo.png" class="logo">

                    <ul class="main-nav">
                        <li class="active"><a href="./firstPageLoggedin.html"><span>Home</span></a></li>

                        <div class="dropdown">
                            <li><a href="./pageProfile.html"><span>Personal Profile</span></a>
                                <div class="dropdown-content">
                                    <a href="#">CV</a>
                                    <a href="#">Applications</a>
                                    <a href="#">Favorites</a>
                                    <a href="./firstPageNoLog.html">Log out</a>
                                </div>
                            </li>
                        </div>
                        <div class="dropdown">
                            <li><a href="#"><span>opportunities</span></a>
                                <div class="dropdown-content">
                                    <a href="#">Internships</a>
                                    <a href="#">Trainings</a>
                                    <a href="#">Conferences</a>
                                </div>
                            </li>
                        </div>

                        <li><a href="./pageJobs.html"><span>Jobs</span></a></li>
                        <li><a href="#"><span>
                                    <link rel="stylesheet"
                                        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                                    <form class="searchform" action="">
                                        <input type="text" placeholder="Search.." name="Search">
                                        <button type="submit"><i class="fa fa-search"></i></button>
                                    </form>

                                </span></a></li>
                    </ul>
                </div>
            </header>
        </div>
    </div>
    <div class="scrollbar">
        <div class="force-overflow"></div>
    </div>

    <div class="sub-header">Develop your career with us</div>

    <div class="container1">
        <div class="searchArea">
            <h1>Tell us what you want</h1>

            <label name="titlu">Job type:</label>
            <input type="checkbox" id="part-time" value="type_parttime" name="job_type"><label class="jobdetail"
                for="part-time">Part-time</label>
            <input type="checkbox" id="full-time" value="type_fulltime" name="job_type"><label class="jobdetail"
                for="full-time">Full-time</label>
            <input type="checkbox" id="student" value="type_student" name="job_type"><label class="jobdetail"
                for="student-time">Student Programme</label><br>

            <label name="titlu">Job level:</label>
            <input type="checkbox" id="no-exp" value="level" name="job_level"><label class="jobdetail">No
                experience</label>
            <input type="checkbox" id="entry" value="level" name="job_level"><label
                class="jobdetail">Entry-level</label>
            <input type="checkbox" id="mid" value="level" name="job_level"><label class="jobdetail">Mid-level</label>
            <input type="checkbox" id="senior" value="level" name="job_level"><label
                class="jobdetail">Senior-level</label><br>

            <label name="titlu">Job place:</label>
            <input type="checkbox" id="city" value="place" name="job_place"><label class="jobdetail">My city
                area</label>
            <input type="checkbox" id="country" value="place" name="job_place"><label class="jobdetail">My country
                area</label>
            <input type="checkbox" id="outside" value="place" name="job_place"><label class="jobdetail">Outside the
                country</label><br>

            <label name="titlu">Other tags:</label>

            <input type="checkbox" id="tags" value="tags" name="job_tags"><label class="jobtag">JavaScript</label>
            <input type="checkbox" id="tags" value="tags" name="job_tags"><label class="jobtag">Python</label>
            <input type="checkbox" id="tags" value="tags" name="job_tags"><label class="jobtag">Java</label>
            <input type="checkbox" id="tags" value="tags" name="job_tags"><label class="jobtag">C/C++</label>
            <input type="checkbox" id="tags" value="tags" name="job_tags"><label class="jobtag">PHP</label>
            <input type="checkbox" id="tags" value="tags" name="job_tags"><label class="jobtag">Swift</label>
            <input type="checkbox" id="tags" value="tags" name="job_tags"><label class="jobtag">Ruby</label>
            <input type="checkbox" id="tags" value="tags" name="job_tags"><label class="jobtag">Objective-C</label>
            <input type="checkbox" id="tags" value="tags" name="job_tags"><label class="jobtag">SQL</label>
            <input type="checkbox" id="tags" value="tags" name="job_tags"><label class="jobtag">C# (C- Sharp)</label>
            <input type="checkbox" id="tags" value="tags" name="job_tags"><label class="jobtag">Programmer</label>
            <input type="checkbox" id="tags" value="tags" name="job_tags"><label class="jobtag">Web Developer</label>
            <input type="checkbox" id="tags" value="tags" name="job_tags"><label class="jobtag">Computer Systems
                Analyst</label>
            <input type="checkbox" id="tags" value="tags" name="job_tags"><label class="jobtag">IT Security</label>
            <input type="checkbox" id="tags" value="tags" name="job_tags"><label class="jobtag">Network
                Engineer</label><br>


            <form class="jobform" action="#">
                <input type="text" placeholder="other key words..." name="searchjob">
                <button type="submit" class="submit">Find jobs</button>
            </form>
        </div>
    </div>

    <div class="container2">
        <h1>We consider that the following jobs might fit you.</h1>
    </div>
    <div class="grid-container">
        <div class="grid grid-item1">
            <img src="./resources/firme/Yonder.png" name="firma">
            <h1 class="jobtitle">FRONT-END DEVELOPER (REACT), MID/SENIOR LEVEL, CLUJ-NAPOCA</h1>
            <p class="jobdescription">You will be working with React, 
                Redux and NodeJS on a generic business process automation tool. 
                The challenges of this project is the generic nature of its business 
                logic and the fact that you need to optimize the application to work
                 with big datasets. It’s a challenge to the thought process of 
                 programming because usually we work 
                on specific features that will have a certain result.</p>
                <button type="submit" class="view">View details</button>
            
        </div>
        <div class="grid grid-item2">
                <img src="./resources/firme/Conti.png" name="firma">
                <h1 class="jobtitle">QA Automation Engineer for Mobile Devices</h1>
                <p class="jobdescription">You will have the opportunity to contribute to the 
                    development and delivery of our next-generation 
                    Bitdefender Parental Advisor ecosystem.</p>
                    <button type="submit" class="view">View details</button>
                
        </div>
        <div class="grid grid-item3"><img src="./resources/firme/amazon.png" name="firma">
            <h1 class="jobtitle">Junior Software Developer (Based in Luxembourg)</h1>
            <p class="jobdescription">The ideal candidate must be detail oriented, 
                have superior verbal and written communication skills, strong 
                organizational skills, able to juggle multiple tasks at once, able 
                to work independently and can maintain professionalism under pressure. </p>
                <button type="submit" class="view">View details</button>
            
        </div>

        <div class="grid grid-item4"><img src="./resources/firme/Bit.png" name="firma">
            <h1 class="jobtitle">C/C++ Developer (Linux; Networking)-Core Security Team</h1>
            <p class="jobdescription">We are currently working on IDS/IPS technologies, with custom hardware, running on an embedded OS, as well as new 
                security strategies and applications powered by our cloud services.</p>
                <button type="submit" class="view">View details</button>
            
        </div>

        <div class="grid grid-item5"><img src="./resources/firme/veoneer.png" name="firma">
            <h1 class="jobtitle">Design Lead for Vision Systems
                    Vision/Night Vision Systems – Veoneer Timisoara</h1>
            <p class="jobdescription">The Design Lead is responsible for all the technical aspects of the defined set of products </p>
                <button type="submit" class="view">View details</button>
            
        </div>
        
        <div class="grid grid-item6"><img src="./resources/firme/cgm.png" name="firma">
            <h1 class="jobtitle">System Engineer</h1>
            <p class="jobdescription">The Systems Engineer is responsible for supporting server 
                and platform installations. This individual also installs server hardware 
                and operating systems as well as reviews/researches server system solutions
                 using current and emerging technologies. 
                The Systems Engineer assists in training less experienced personnel.</p>
                <button type="submit" class="view">View details</button>
            
        </div> 
    </div>
    


    <div>
        <footer class="footer">Copyright &copy; 2019 || Designed by Team</footer>
    </div>

</html>