{% set title = "Jobs" %}
{% set username = data.username %}

{% extends "./_layout.njk" %}

{% block content %}
<link rel="stylesheet" href="/styles/pageJobs.css">

<div class="scrollbar">
    <div class="force-overflow"></div>
</div>
<div class="sub-header">Develop your career with us</div>

<div class="container1">
    <div class="searchArea">
        <h1>Tell us what you want</h1>

        <label name="titlu">Job type:</label>
        <input type="checkbox" id="part-time" value="type_parttime" name="job_type"><label class="jobdetail"
            for="part-time">Part-time</label>
        <input type="checkbox" id="full-time" value="type_fulltime" name="job_type"><label class="jobdetail"
            for="full-time">Full-time</label>
        <input type="checkbox" id="student" value="type_student" name="job_type"><label class="jobdetail"
            for="student-time">Student Programme</label><br>

        <label name="titlu">Job level:</label>
        <input type="checkbox" id="no-exp" value="level" name="job_level"><label class="jobdetail">No
            experience</label>
        <input type="checkbox" id="entry" value="level" name="job_level"><label
            class="jobdetail">Entry-level</label>
        <input type="checkbox" id="mid" value="level" name="job_level"><label class="jobdetail">Mid-level</label>
        <input type="checkbox" id="senior" value="level" name="job_level"><label
            class="jobdetail">Senior-level</label><br>

        <label name="titlu">Job place:</label>
        <input type="checkbox" id="city" value="place" name="job_place"><label class="jobdetail">My city
            area</label>
        <input type="checkbox" id="country" value="place" name="job_place"><label class="jobdetail">My country
            area</label>
        <input type="checkbox" id="outside" value="place" name="job_place"><label class="jobdetail">Outside the
            country</label><br>

        <label name="titlu">Other tags:</label>

        <input type="checkbox" id="tags" value="tags" name="job_tags"><label class="jobtag">JavaScript</label>
        <input type="checkbox" id="tags" value="tags" name="job_tags"><label class="jobtag">Python</label>
        <input type="checkbox" id="tags" value="tags" name="job_tags"><label class="jobtag">Java</label>
        <input type="checkbox" id="tags" value="tags" name="job_tags"><label class="jobtag">C/C++</label>
        <input type="checkbox" id="tags" value="tags" name="job_tags"><label class="jobtag">PHP</label>
        <input type="checkbox" id="tags" value="tags" name="job_tags"><label class="jobtag">Swift</label>
        <input type="checkbox" id="tags" value="tags" name="job_tags"><label class="jobtag">Ruby</label>
        <input type="checkbox" id="tags" value="tags" name="job_tags"><label class="jobtag">Objective-C</label>
        <input type="checkbox" id="tags" value="tags" name="job_tags"><label class="jobtag">SQL</label>
        <input type="checkbox" id="tags" value="tags" name="job_tags"><label class="jobtag">C# (C- Sharp)</label>
        <input type="checkbox" id="tags" value="tags" name="job_tags"><label class="jobtag">Programmer</label>
        <input type="checkbox" id="tags" value="tags" name="job_tags"><label class="jobtag">Web Developer</label>
        <input type="checkbox" id="tags" value="tags" name="job_tags"><label class="jobtag">Computer Systems
            Analyst</label>
        <input type="checkbox" id="tags" value="tags" name="job_tags"><label class="jobtag">IT Security</label>
        <input type="checkbox" id="tags" value="tags" name="job_tags"><label class="jobtag">Network
            Engineer</label><br>

        <form class="jobform" action="#">
            <input type="text" placeholder="other key words..." name="searchjob">
            <button type="submit" class="submit">Find jobs</button>
        </form>
    </div>
</div>

<div class="container2">
    <h1>We consider that the following jobs might fit you.</h1>
</div>

<div class="grid-container">
	{% set i = 1 %}
	{% for el in data.jobsInfo %}
		<div class="grid grid-item{{ i }}">
			<img src="{{ el.logo }}" name="firma">
			<h1 class="jobtitle">{{ el.title }}, {{ el.date }}, {{ el.city }}</h1>
			<p class="jobdescription">{{ el.description }}</p>
			<form action="{{ el.website }}">
				<button type="submit" class="view">View details</button>
			</form>
		</div>
	{% set i = i + 1 %}
	{% endfor %}
</div>

<div>
    <footer class="footer">Copyright &copy; 2019 || Designed by Team</footer>
</div>
{% endblock content %} 




    



