{% set title = "Opportunities" %}
{% set username = data.username %}

{% extends "./_layout.njk" %}

{% block content %}
<link rel="stylesheet" href="/styles/pageOportunity.css">

<div class="scrollbar">
    <div class="force-overflow"></div>
</div>

<div class="sub-header">Develop your career with us</div>

<div class="container2">
    <h1>We consider that the following events might fit you.</h1>
</div>

<div class="grid-container">
	{% set i = 1 %}
	{% for el in data.eventsInfo %}
    	<div class="grid grid-item{{ i }}">
			{# <img src="/image/__{{ el.title }}" name="firma"> #}
			<img src="{{ el.logo }}" name="firma">
			<h1 class="eventtitle">{{ el.title }}, {{ el.date }}, {{ el.city }}, {{ el.country }}</h1>
			<p class="eventdescription">{{ el.description }}</p>
			<form action="{{ el.website }}">
				<button type="submit" class="view">View details</button>
			</form>
	    </div>
	{% set i = i + 1 %}
	{% endfor %}
   
</div>

<div>
    <footer class="footer">Copyright &copy; 2019 || Designed by Team</footer>
</div>
{% endblock content %}